services:
  mongodb:
    image: "mongo:latest"
    environment:
      - "MONGO_INITDB_DATABASE=EduVerse"
      - "MONGO_INITDB_ROOT_PASSWORD=secret"
      - "MONGO_INITDB_ROOT_USERNAME=root"
    ports:
      - "27017:27017"
  redis:
    image: "redis:latest"
    ports:
      - "6379:6379"
